@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-de-fundo:#150050;
    --cor-primaria:#FB2576;
    --cor-secundaria:#3F0071;
    --cor-do-texto:#ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-do-texto);
    font-family: "Exo 2", sans-serif;
}
header{
    background-color: var(--cor-primaria);
    color: var(--cor-de-fundo);
    text-align: center;
    padding: 1px;
}
h1{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20px;
}
nav{
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 15px;
    display: flex;
}
nav a{
    text-decoration: none;
    margin:0 2rem 1rem 0;
}
nav a:hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}
.graficos-container{
    margin: 5rem;
}
.graficos-container_texto{
font-size: 1.3rem;
text-align:  center;
padding: 2rem;
border: var(--cor-primária) solid 2px;
}
footer{
    background-color: var(--cor-primaria);
    display: flex;
    color: var(--cor-de-fundo);
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 15px;
    height: 3rem;
    width: 100%;  
}